*{

  font-family: "montserrat", sans-serif;
}

.contact-section{
  background: url(grund.jpg);
  width: 100%;
}


.contact-section h1{
  text-align: center;
  color: #ddd;

}

.border{
  width: 100px;
  height: 10px;
  background: #00c900;
  margin: 40px  auto;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: rgb(36, 35, 35);
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}

.contact-form-text:focus {
  box-shadow: 0 0 10px 4px #00c900;
}

textarea.contact-form-text{
resize: none;
height: 120px;
}

.contact-form-btn{
  float: right;
  border: 0;
  background: #00c900;
  color: #ddd;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;

}

.contact-form-btn:hover{
  background: #028802;
}


.social-menu ul{
  position: center;
  top: 50%;
  left: 50%;
  padding: 0;
  display: flex;

}


.social-menu ul li{
   list-style: none;
   margin: 0 15px;
}

.social-menu ul li .fab{
   font-size: 30px;
   line-height: 60px;
   transition: .6s;
   color: rgb(0, 0, 0);
}

.social-menu ul li .fab:hover{
color: #fff; 
}

.social-menu ul li a{
   position: relative;
   display: block;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   background-color: rgb(226, 215, 215);
   text-align: center;
   transition: .6s;
   box-shadow: 0 5px 4px rgba(0, 0, 0, .5);

}

.social-menu ul li a:hover{
   transform: translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover{
   background-color: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover{
  background-color: #55acee;
}

.social-menu ul li:nth-child(3) a:hover{
  background-color: #e4405f;
}

.social-menu ul li:nth-child(4) a:hover{
  background-color: #0077B5;
}

@media(max-width: 500px){

.social-menu ul li .fab{
  grid-template-columns: 1fr;
}
}
